<!DOCTYPE html>
<html>
<head>
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href ="css/Style.css" type="text/css">

	<title>Home</title>
</head>




<header>
	<h1> Oconee County Fire Rescue
	</h1>

	<nav class="row navbar navbar-default">
        <div class="navbar-header">
        	<button class= "navbar-toggle" data-toggle ="collapse"
        	data-target = "#menu">

        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>

        	</button>
        	</div>

        	<div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
            	<li>
            		<a href = index.html > Home </a>

            	</li>
            	<li>
            	    <a href = members.html > Members </a>
            	</li>
            	<li class="dropdown">
            		<a href="certifications.html" class="dropdown-toggle" data-toggle ="dropdown">
            		Certifications <span class= "caret"> </span> </a>
            		<ul class="dropdown-menu">
            			<li>
            				<a href = generalcertifications.html > General Certifications </a>

            			</li>
            			<li>
            				<a href ="certificationsbymember.html"> Certifications By Member </a>
            			</li>
            		</ul>
            	</li>
            		<li class="dropdown">
            					<a href="reports.html" class="dropdown-toggle" data-toggle ="dropdown">
            		 			Reports <span class= "caret"> </span> </a>
            				<ul class="dropdown-menu">
            					<li>
            						<a href = expiredcertifications.html > Expired Certifications </a>

            					</li>
            					<li>
            						<a href ="memberreport.html"> Member Report </a>
            					</li>
            				</ul>
            				</li>
            	</div>
        </nav>
	<hr>
</header>
	<body>
	<main>
	<h2>Certifications By Member</h2>
      <div id = "memcertapp">
      <table class="table table-hover table-condensed table-bordered">
  <thead>

      <tr>
          <th>Certification ID</th>
          <th>Member ID</th>
          <th>Date Certified</th>
          <th>Experation Date</th>
      </tr>
  </thead>
<!--turn tom's table code into table code for certifications
//replace p with c, and Patients with Certifications -->
  <tbody>
    <tr v-for="c in CertificationsByMember">
        <td>{{ c.certID }}</td>
        <td>{{ c.memberID }}</td>
        <td>{{ c.datecertified }}</td>
        <td>{{ c.expirationDate }}</td>
        <td>
             <form>
<input type='button' value='Delete' @click='handleDelete(c.certID)'></input>
            </form>
        </td>
    </tr>
          </tbody>
        </table>
         <form @submit.prevent="handleSubmit">
            <div class="form-group row">
              <label for="inputFirstName" class="col-sm-2 col-form-label">Certification ID</label>
                <select v-model="recordCertificationsByMember.certID">
                  <option v-for="c in Certifications">{{ c.certID }}</option>
                </select>
            </div>
            <div class="form-group row">
              <label for="inputLastName" class="col-sm-2 col-form-label">Member ID</label>
                <select v-model="recordCertificationsByMember.memberID">
                  <option v-for="m in Members">{{ m.memberID }}</option>
                </select>
            </div>
<!--             <div class="form-group row">
               <label for="inputFirstName" class="col-sm-2 col-form-label">Certification ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputMemberCertID" placeholder="Certification ID" v-model="recordCertificationsByMember.certID">
                </div>
              </div>
            <div class="form-group row">
              <label for="inputLastName" class="col-sm-2 col-form-label">Member ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCertMemberID" placeholder="Member ID" v-model="recordCertificationsByMember.memberID">
              </div>
            </div> -->
            <div class="form-group row">
              <label for="inputdatecertified" class="col-sm-2 col-form-label">Date Certified</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputDateCert" placeholder="Date Certified" v-model="recordCertificationsByMember.datecertified">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputexpdate" class="col-sm-2 col-form-label">Expirations Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputExpDate" placeholder="Expiration Date" v-model="recordCertificationsByMember.expirationDate">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Add Member Certification</button>
              </div>
            </div>
          </form>
          </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/MemCertdrpdwnhndlr.js"></script>
 	<hr>
	</body>
	<footer>
	<p> Fire Dept. | Phone: 800-555-1234 | 222 Rasputin Drive, Watkinsville, GA 52003 </p>
	</footer>
</html>
