<!DOCTYPE html>
<html>
<head>
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href ="css/Style.css" type="text/css">

	<title>Home</title>
</head>




<header>
	<h1> Oconee County Fire Rescue
	</h1>

	<nav class="row navbar navbar-default">
        <div class="navbar-header">
        	<button class= "navbar-toggle" data-toggle ="collapse"
        	data-target = "#menu">

        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>

        	</button>
        	</div>

        	<div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
            	<li>
            		<a href = index.html > Home </a>

            	</li>
            	<li>
            	    <a href = members.html > Members </a>
            	</li>
            	<li class="dropdown">
            		<a href="certifications.html" class="dropdown-toggle" data-toggle ="dropdown">
            		Certifications <span class= "caret"> </span> </a>
            		<ul class="dropdown-menu">
            			<li>
            				<a href = generalcertifications.html > General Certifications </a>

            			</li>
            			<li>
            				<a href ="certificationsbymember.html"> Certifications By Member </a>
            			</li>
            		</ul>
            	</li>
            		<li class="dropdown">
            					<a href="reports.html" class="dropdown-toggle" data-toggle ="dropdown">
            		 			Reports <span class= "caret"> </span> </a>
            				<ul class="dropdown-menu">
            					<li>
            						<a href = expiredcertifications.html > Expired Certifications </a>

            					</li>
            					<li>
            						<a href ="memberreport.html"> Member Report </a>
            					</li>
            				</ul>
            				</li>
            	</div>
        </nav>
	<hr>
</header>
	<body>
	<main>
	<p></p>

	<p></p>

	<h2> General Certifications </h2>
        <div id="generalcertificationsapp">
            <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>Certification ID</th>
                <th>Agency</th>
                <th>Name</th>
                <th>Standard Expiry (Years)</th>
            </tr>
        </thead>
<!--turn tom's table code into table code for certifications
//replace p with c, and Patients with Certifications -->
        <tbody>
          <tr v-for="c in Certifications">
              <td>{{ c.certID }}</td>
              <td>{{ c.agency }}</td>
              <td>{{ c.certname }}</td>
              <td>{{ c.expires }}</td>
              <td>
                   <form>
     <input type='button' value='Delete' @click='handleDelete(c.certID)'></input>
                  </form>
              </td>
          </tr>

<!--
            <tr>
                <td>101</td>
                <td>American Heart Association</td>
                <td>CPR for Healthcare Providers</td>
                <td>2</td>
                <td>
                    <form action="/editmember.html" >
                       <button type="submit" class="editbtn">Edit</button>
                    </form>
                     <form action="/deletemember.php" >
                       <button type="submit" class="deletebtn">Delete</button>
                    </form>
                </td>

            </tr>

            <tr>
                <td>207</td>
                <td>Athens Technical College</td>
                <td>Firefighter</td>
                <td>3</td>
                <td>
                    <form action="/editmember.html" >
                       <button type="submit" class="editbtn">Edit</button>
                    </form>
                     <form action="/deletemember.php" >
                       <button type="submit" class="deletebtn">Delete</button>
                    </form>
                </td>

            </tr>

            <tr>
                <td>308</td>
                <td>Georgia POST Academy</td>
                <td>POST</td>
                <td>5</td>
                <td>
                    <form action="/editmember.html" >
                       <button type="submit" class="editbtn">Edit</button>
                    </form>
                     <form action="/deletemember.php" >
                       <button type="submit" class="deletebtn">Delete</button>
                    </form>
                </td>

            </tr> -->
        </tbody>

<!--
        <tfoot>
            <tr>
                <td colspan="5">
                </td>
            </tr>
        </tfoot>
-->
    </table>

<form @submit.prevent="handleSubmit">
<!--  <div class="form-group row">
    <label for="inputFirstName" class="col-sm-2 col-form-label">Certification ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCertID" placeholder="Certification ID" v-model="recordCertifications.certID">
    </div>
  </div>-->

  <div class="form-group row">
    <label for="inputLastName" class="col-sm-2 col-form-label">Agency</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAgency" placeholder="Agency" v-model="recordCertifications.agency">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputSexAtBirth" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Certification Name" v-model="recordCertifications.certname">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputDob" class="col-sm-2 col-form-label">Standard Expiry</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="inputExpires" placeholder="2001-12-13" v-model="recordCertifications.expires">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Add New Certification</button>
    </div>
  </div>
</form>
</div>
        </main>
        	</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/GeneralCertifications.js"></script>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
	<footer>
	<p> Fire Dept. | Phone: 800-555-1234 | 222 Rasputin Drive, Watkinsville, GA 52003 </p>
	</footer>
</html>
